body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    
     /* Dracula Code view*/
  --code-normal: #F8F8F2;
  --code-background: #282a36;
  --dracula-foreground: #F8F8F2;
  --dracula-Comment: #6272A4;
  --dracula-keyword: #FF79C6;
  --dracula-definition: #50FA7B;
  --dracula-variable: #F8F8F2; /*"variable" tags are used everywhere in code, but Dracula usually only uses orange color only for declaration inputs, thus white is less annoying to look at*/
  --dracula-number: #BD93F9;
  --dracula-function: #8BE9FD;
  --dracula-string: #F1FA8C;

}
