body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/

    --h1-color: var(--color-red);
  --h2-color:var(--color-orange);
  --h3-color:var(--color-yellow);
  --h4-color:var(--color-green);
  --h5-color:var(--color-blue);
  --h6-color:var(--color-purple);

     /* Dracula Code view*/
  --code-normal: #F8F8F2 !important;
  --code-background: #282a36;
  --dracula-foreground: #F8F8F2;
  --dracula-Comment: #6272A4;
  --dracula-keyword: #FF79C6;
  --dracula-definition: #50FA7B;
  --dracula-variable: #F8F8F2; /*"variable" tags are used everywhere in code, but Dracula usually only uses orange color only for declaration inputs, thus white is less annoying to look at*/
  --dracula-number: #BD93F9;
  --dracula-function: #8BE9FD;
  --dracula-string: #F1FA8C;

    
    /* CODEBLOCKS */


/* code blocks in preview */

pre code {
  padding: 5px !important;
  color: var(--dracula-foreground);
  line-height: normal;
  display: block;
  background-color: var(--background-primary);
}

.markdown-preview-view pre {
  padding: 0px !important;
}

/* in-line code for editor and preview and code block for editor*/

.cm-inline-code {
  background-color: var(--background-primary-alt) !important;
  color: var(--dracula-foreground) !important;
  bottom: 0px !important;
}

/* Code Appearance */

/* Editing view */

.CodeMirror-code span.cm-inline-code {
  color: var(--markup-code) !important;
}

.cm-hmd-codeblock {
  color: var(--dracula-foreground);
}

.cm-hmd-codeblock.cm-keyword {
  color: var(--dracula-keyword);
}

.cm-def.cm-hmd-codeblock {
  color: var(--dracula-definition);
}

.cm-hmd-codeblock.cm-variable {
  color: var(--dracula-variable);
}

.cm-hmd-codeblock.cm-operator{
  color: var(--dracula-keyword);
}

.cm-hmd-codeblock.cm-number {
  color: var(--dracula-number);
}

.cm-builtin.cm-hmd-codeblock {
  color: var(--dracula-function);
}

.cm-hmd-codeblock.cm-string {
  color: var(--dracula-string);
}

/* Preview */

code {
  background-color: var(--background-primary);
  color: var(--dracula-foreground);
}

.token.function {
  color: var(--dracula-definition);
}

.token.operator {
  color: var(--dracula-keyword);
}

.token.number {
  color: var(--dracula-number);
}

.token.builtin {
  color: var(--dracula-function);
}

.token.boolean {
  color: var(--dracula-number);
}

.token.string {
  color: var(--dracula-string);
}

/* Editor CodeBlock TEXT Appearance - */

.cm-s-obsidian pre.HyperMD-codeblock {
  color: var(--markup-code) !important;
}

/* borders */

.cm-s-obsidian span.cm-inline-code {
  border: 1px solid #525660;
  border-radius: 4px;
}

.cm-s-obsidian span.cm-formatting-code.cm-inline-code {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.cm-s-obsidian span.cm-formatting-code.cm-inline-code + span.cm-inline-code {
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.cm-s-obsidian
  span.cm-formatting-code.cm-inline-code
  + span.cm-inline-code
  + span.cm-formatting-code.cm-inline-code {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-right-width: 1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
}
