body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/

  --blockquote-border-color: #3498db !important;
  --blockquote-border-thickness: 4px !important;
  --blockquote-background-color: #f4f4f4 !important;

    blockquote {
      padding: 4px !important;
    }

  --code-normal: #F8F8F2 !important;
  --code-background: #282a36 !important;
  --code-comment: #6272A4 !important;
  --code-keyword: #FF79C6 !important;
  --code-operator: #FF79C6 !important;
  --code-function: #50FA7B !important;
  --code-property: #F8F8F2 !important;
  --code-value: #BD93F9 !important;
  --code-tag: #8BE9FD !important;
  --code-important: #FFB86C !important;
  --code-string: #F1FA8C !important;

    .token.operator {
        color: var(--code-keyword);
    }

    .token.builtin {
        color: var(--code-tag);
    }
}
